    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-2" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ user.profile.userimage.url }}" alt="User Image rounded-circle" class="img-fluid rounded-circle" style="width: 30px; height: 30px;">
                        {{user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'user_posts' %}">Your Postes</a>
                        <a class="dropdown-item" href="{% url 'edituser' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'addnew' %}">Add New</a>
                        <a href="{% url 'view' user_id=user.id %}">View Messages</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- end Navigation Bar -->